server: http://localhost:5000
password: password
refresh: 60

plugins:
  http:
    enabled: true
    urls: 
      apache: http://localhost:8000
      status: http://localhost:8080

  process:
    enabled: false
    processes:
    - init

  sysinfo:
    enabled: true
    disks:
    - /
    show load: true
    show memory: true
    danger percent: 90
    refresh: 60

  systemdunit:
    enabled: true
    units:
    - ssh

  loggedin:
    enabled: false

  aptupgrade:
    enabled: false
    private: true

  gitupdate:
    enabled: false
    paths:
    - /home/dmsr/dmsr

  filecount:
    enabled: false
    observed:
    - name: "logfiles"
      glob: "/var/log/*"

