server: http://localhost:5000
password: password
refresh: 60

plugins:
  http:
    enabled: true
    urls: 
    - http://localhost:5000

  process:
    enabled: true
    processes:
    - init

  sysinfo:
    enabled: true
    disks:
    - /
    show load: true
    show memory: true
    refresh: 60
    danger percent: 90

  systemdunit:
    enabled: false
    units:
    - ssh

  loggedin:
    enabled: false

  aptupgrade:
    private: true
    enabled: true

  gitupdate:
    enabled: true
    paths:
    - /home/dmsr/dmsr
