[Unit]
Description=DMSR Agent
After=network.target

[Service]
User=dmsr
WorkingDirectory=/home/dmsr/dmsr
ExecStart=/home/dmsr/dmsr/.venv/bin/python /home/dmsr/dmsr/agent.py
Restart=always

[Install]
WantedBy=multi-user.target